header {
    height: 100px;
    background-color: #1E90FF; /*in case the browser doesn't support gradients*/
    background-image: linear-gradient(to right, #1E90FF, #0000CD);
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding-top: 20px;
  }

.cityBorder {
border: 1px solid black;
}
.btnMargin {
  margin: 2px;
  width: 100%;
}

.width {
  width: 100%;
}

.uvLow {
  color: rgb(0, 177, 0);
  font-weight: 900;
}

.uvMed {
  color: orange;
  font-weight: 900;
}

.uvHigh {
  color: red;
  font-weight: 900;
}